<div id="intro" class="main-row">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <h1>Yakforms</h1>
        <h2>
          Build online and privacy-respectful forms easily
        </h2>
        <p class="buttons">
          <a href="/node/add/form1" class="btn btn-lg btn-primary">Create a new form</a>
          <a href="/fonctionnalites" class="btn btn-lg btn-outline-light"><i class="lk-play-circle"></i>Take the tour</a>
        </p>
      </div>
    </div>
    <div class="row d-none d-sm-flex">
      <p class="text-center mx-auto">
        Get to know Yakforms<br /><i class="lk-chevron-down"></i>
      </p>
    </div>
  </div>
</div>
<div id="what">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="sr-only">First steps</h2>
        <div class="tabs">
          <input aria-hidden="true" type="radio" id="tab1" name="tab-group" checked><label  aria-hidden="true" for="tab1">Simplicity</label>
          <input  aria-hidden="true" type="radio" id="tab2" name="tab-group"><label  aria-hidden="true" for="tab2">Share</label>
          <input aria-hidden="true" type="radio" id="tab3" name="tab-group"><label  aria-hidden="true" for="tab3">Analyze</label>
          <div class="tab-content tab1">
            <div class="row">
              <div class="col-md-6 col-lg-7">
                <div class="web-browser"><div class="toolbar"><i class="lk-circle"></i><i class="lk-circle"></i><i class="lk-circle"></i><span class="search-bar"></span><i class="lk-circle"></i></div><img alt="" src="/profiles/yakforms_profile/files/imgforms/screen1.png" class="img-fluid"></div>
              </div>
              <div class="px-3 col-md-6 col-lg-5">
                <h3>Create forms easily.</h3>
                <p>Create your forms through a simple drag-and-drop interface. Many different form fields are available to cover your needs.</p>
              </div>
            </div>
          </div>
          <div class="tab-content tab2">
            <div class="row">
              <div class="col-md-6 col-lg-7 order-md-2">
                <div class="web-browser"><div class="toolbar"><i class="lk-circle"></i><i class="lk-circle"></i><i class="lk-circle"></i><span class="search-bar"></span><i class="lk-circle"></i></div><img alt="" src="/profiles/yakforms_profile/files/imgforms/screen2.png" class="img-fluid"></div>
              </div>
              <div class="px-3 col-md-6 col-lg-5">
                <h3>Share your forms.</h3>
                <p>Once you form is published, you can share it to the public through email or social media. You can also embed it in you own website, and allow others to clone your form to save them precious time.</p>
              </div>
            </div>
          </div>
          <div class="tab-content tab3">
            <div class="row">
              <div class="col-md-6 col-lg-7">
                <div class="web-browser">
                  <div class="toolbar"><i class="lk-circle"></i><i class="lk-circle"></i><i class="lk-circle"></i><span class="search-bar"></span><i class="lk-circle"></i></div>
                  <img alt="" src="/sites/all/themes/yaktheme/images/screen3.png" class="img-fluid">
                </div>
              </div>
              <div class="px-3 col-md-6 col-lg-5">
                <h3>Make sense of your results.</h3>
                <p>You can easily access your results online, and display them as graphs or export them to a spreasheet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
